/* 常见复用样式 */
.top_wrapper {
  width: 980px;
  margin: 0 auto;
}

.header_wrapper {
  width: 1300px;
  margin: 0 auto;
}
.header_wrapper_h {
  width: 890px;
  margin: 0 auto;
}

.main_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main_sprite {
  background: url(../images/main_sprite.png) no-repeat;
  display: inline-block;
}

.main_news_sprite {
  background: url(../images/main_news.png) no-repeat;
  display: inline-block;
}
.right_all_sprite {
  background: url(../images/r_all.png) navajowhite;
  display: block;
}
/* 视频底部播放量图标复用 */
.play_icon {
  background-position: -256px -59px;
}

/* 视频hover时显示的播放图标复用 */
.mask_play_icon {
  background-position: -192px -64px
}

/* 单行文字省略号三行代码 */
.text_exceeds_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text_exceeds_ellipsis_two {
  /* 一行或多行文本超出用省略号显示
具体想要多少行,设置-webkit-line-clamp的值即可 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

/* 新闻模块的热门,公告等图标 */
.news_type::before {
  display: inline-block;
  width: 32px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-top: 2px;
  margin-right: 5px;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-size: 12px;
}

.news_type_hot::before {
  content: '热门';
  color: #ff3636;
}

.news_type_notice::before {
  content: '公告';
  color: #f4be19;
}



/* 赛事中心 比赛新闻前面图标的复用 */
.match_icon_type {
  display: inline-block;
  width: 48px;
  height: 19px;
  line-height: 19px;
  margin-right: 12px;
  background: #e3e3e3;
  border-radius: 10px;
  border: 2px solid #e3e3e3;
  text-align: center;
  font-size: 12px;
  color: #999;
  text-indent: 2px;
}

/* header hover时图标封装 */
.header_public_icon_style::before {
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url(../images/main_news.png) no-repeat;
}

.header_n_icon::before {
  background-position: -137px -68px;
}
.header_h_icon::before {
  background-position: -163px -68px;
}
.header_circle_icon::before {
  background-position: -136px -5px;
}


/* 大背景图 */
.kv-bg-container {
  position: relative;
}
.kv-bg-container  .bg-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 41px;
  margin: 0 auto;
  height: 1300px;
  background: url(../images/kv_bg_container.jpg) no-repeat;
  background-position: center top;
}

@media screen and (min-width: 1920px) {
  .kv-bg-container .bg-container {
    background-size: 100% auto;
  }
}